<h1>Impressum.</h1>
<div class="trenner clear"></div>
<p><strong>orangenwerk.</strong><br />
		   <span class="kleen">Agentur für visuelle Kommunikation</span>
			<br /><br />
		    Stralsunder Straße 20<br />
		   16515 Oranienburg
			<br /><br />
		   <table>
	<tr>
		<td>Telefon: </td>
		<td>+49 (0) 30 - 956 29 447</td>
	</tr>
	<tr>
		<td>Telefax: </td>
		<td>+49 (0) 30 - 956 29 449</td>
	</tr>
</table>

			<br />
		   info@orangenwerk.com<br />
		   www.orangenwerk.com<br /><br /></p>
<strong>Vertretungsberechtigte Gesellschafter</strong><br />
Marco Sebald<br />
<br />
<strong>Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV</strong><br />
Marco Sebald (Anschrift wie oben)<br />
<br />
<strong>Haftungshinweis</strong><br />
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br />
<br />
<strong>Datenschutz</strong><br />
Die auf dieser Webseite erhobenen Daten werden von orangenwerk entsprechend den Vorschriften des Bundesdatenschutzgesetzes (BDSG) und des Informations- und Telekommunikationsdienstegesetzes (IuTDG) behandelt. Wir verwenden die erhobenen Daten ausschließlich zur internen Kommunikation. Eine Weitergabe von persönlichen Daten an Dritte ohne ausdrückliche Einwilligung des Betroffenen erfolgt nicht.<br />
<br />
<strong>Copyright</strong><br />
Alle Rechte vorbehalten. Texte, Bilder und Grafiken sowie das Layout dieser Seiten genießen Urheberschutz. <br />
<br />
<strong>Google Analytics</strong><br />
„Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.“ 


<br class="clearer" /><br class="clearer" /><br /><br /><hr />

<% content_for :left_aside do %>
	<%= render 'aside_left' %>
<% end %>