<a class="referenz_icon o_box colorB" rel="detail_pic_group<%= icon.produkt_id.to_s %>" href="<%= icon.icon.url %>" title="<%= icon.name %>">
	<%= image_tag icon.icon.url(:o_icon), :class => 'produkt_detail_bild', :alt => icon.name %>
</a>
