<ul class="account-nav">
	  <% if signed_in? %>
			<li><%= link_to current_user.name, current_user %></li>
	  		<li><%= rechte_symbol %></li>
      		<li><%= link_to "Log out", signout_path, :method => :delete %></li>
      <% else %>
      	<li><%= link_to "Log in", signin_path %></li>
      <% end %>
</ul>