<h2>News Bereiche:</h2>
<%= link_to 'NewsBereich erstellen', new_admin_news_bereich_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @news_bereiche  %>
<br />
<%= link_to 'NewsBereich erstellen', new_admin_news_bereich_path, :class => 'admin_new_button' %>

