<h2>WebReferenz bearbeiten</h2>
<%= form_for @web_referenz, :html => { :multipart => true }, :url => admin_web_referenz_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_web_referenz_path(@web_referenz.id) %> |
<%= link_to 'Zurück', admin_web_referenzen_path %>
