<h2>Web Referenzen:</h2>
<%= link_to 'WebReferenz erstellen', new_admin_web_referenz_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @web_referenzen  %>
<br />
<%= link_to 'WebReferenz erstellen', new_admin_web_referenz_path, :class => 'admin_new_button' %>

<div id="Pagez__stuff"></div>
<br/>