<div class="fields many_select">
<div class="section-group">
	<div class="section-group-inner">
		
		<div class="field label"><%= f.label :produkt_kategorie_id, 'Produkt_Kategorie' %></div>
		<div class="field view"><%= f.select :produkt_kategorie_id, ProduktKategorie.all.map { |c| [c.name, c.id] } %></div>
		
		<div class="remove_nested_form"><%= link_to_remove_fields "Produkt_Kategorie entfernen", f %></div> 
	</div>
</div>
</div>