Top:

<li><%= link_to "Banner", admin_banners_path, :class => ("current" if @activio && (@activio == 'admin_start'))  %></li>


Main:

<li><%= link_to 'Banner', admin_banners_path, :class => ("current" if @sub_activio && (@sub_activio == 'admin_banner'))  %></li>

Sub:

<li><%= link_to 'Banner', admin_banners_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'admin_banner'))  %></li>