<h2>Faq bearbeiten</h2>
<%= form_for @faq, :html => { :multipart => true }, :url => admin_faq_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_faq_path(@faq.id) %> |
<%= link_to 'Zurück', admin_faqs_path %>
