<h2>FAQs:</h2>
<%= link_to 'Faq erstellen', new_admin_faq_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @faqs  %>
<br />
<%= link_to 'Faq erstellen', new_admin_faq_path, :class => 'admin_new_button' %>

