<h2>Faq Neu</h2>
<%= form_for @faq, :html => { :multipart => true }, :url => { :controller => 'admin/faqs'} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Zurück', admin_faqs_path %>
