Top:

<li><%= link_to "FAQs", admin_faqs_path, :class => ("current" if @activio && (@activio == 'admin_kontakt_bereich'))  %></li>


Main:

<li><%= link_to 'FAQs', admin_faqs_path, :class => ("current" if @sub_activio && (@sub_activio == 'admin_faq'))  %></li>

Sub:

<li><%= link_to 'FAQs', admin_faqs_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'admin_faq'))  %></li>