<a href="<%= produkt_path(icon.produkt_kategorie.produkt_bereich.name)+'/'+icon.produkt_kategorie.name+'/'+icon.name %>" class="icon">
	<div>
<%= image_tag icon.icon.url, :class => 'rounded_box' %><br/>
<%= icon.titel %>
	</div>
</a>
