<h2>Produkt Kategorien:</h2>
<%= link_to 'ProduktKategorie erstellen', new_admin_produkt_kategorie_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @produkt_kategorien  %>
<br />
<%= link_to 'ProduktKategorie erstellen', new_admin_produkt_kategorie_path, :class => 'admin_new_button' %>

