Top:

<li><%= link_to "Produkt Kategorien", admin_produkt_kategorien_path, :class => ("current" if @activio && (@activio == 'admin_produkt_bereich'))  %></li>


Main:

<li><%= link_to 'Produkt Kategorien', admin_produkt_kategorien_path, :class => ("current" if @sub_activio && (@sub_activio == 'sub_admin_produkt_kategorie'))  %></li>

Sub:

<li><%= link_to 'Produkt Kategorien', admin_produkt_kategorien_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'sub_sub_admin_produkt_kategorie'))  %></li>