.sitemap-nav { margin:0; padding: 10px; }
.sitemap-nav li { list-style: none; background: transparent; }
.sitemap-nav li a { font-size: 20px; color: #222; line-height: 24px; padding: 0 5px;}
.sitemap-nav li a:hover { font-weight: bold; border-right: solid 1px #c5c5c5; border-left: solid 1px #c5c5c5; background: transparent;  }
.sitemap-nav  li .sitemap-nav-in { margin:0; padding: 0 20px; }
.sitemap-nav  li .sitemap-nav-in li a { color: #555; font-size: 18px; }
.sitemap-nav  li .sitemap-nav-in li .sitemap-nav-in li a { color: #777; font-size: 16px; }
.sitemap-nav  li .sitemap-nav-in li .sitemap-nav-in li .sitemap-nav-in li a { color: #999;  }


.dot {margin: 0; padding: 10px;}
.dot li { padding: 0 15px; background: transparent url('/images/dot.png') 3px 5px no-repeat; list-style: none; line-height:18px;}


#description_of_site { background: transparent; color: #D9D9D9; list-style: none; margin:0; padding:0; }
#description_of_site li { background: transparent; color: #D9D9D9; list-style: none; float: left; margin:0; padding:0; font-size:3px;}