<h2>Sidebar:</h2>
<%= link_to 'Sidebar erstellen', new_admin_sidebar_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @sidebars  %>
<br />
<%= link_to 'Sidebar erstellen', new_admin_sidebar_path, :class => 'admin_new_button' %>

