Top:

<li><%= link_to "Sidebar", admin_sidebars_path, :class => ("current" if @activio && (@activio == 'admin_start'))  %></li>


Main:

<li><%= link_to 'Sidebar', admin_sidebars_path, :class => ("current" if @sub_activio && (@sub_activio == 'admin_sidebar'))  %></li>

Sub:

<li><%= link_to 'Sidebar', admin_sidebars_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'admin_sidebar'))  %></li>