<h2>Produkt:</h2>
<%= link_to 'Produkt erstellen', new_admin_produkt_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @produkte  %>
<br />
<%= link_to 'Produkt erstellen', new_admin_produkt_path, :class => 'admin_new_button' %>


