<h2>XyOyX bearbeiten</h2>
<%= form_for @kunde, :html => { :multipart => true }, :url => admin_kunde_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_kunde_path(@kunde.id) %> |
<%= link_to 'Zurück', admin_kunden_path %>
