<h2>Kunden:</h2>
<%= link_to 'Kunde erstellen', new_admin_kunde_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @kunden  %>
<br />
<%= link_to 'Kunde erstellen', new_admin_kunde_path, :class => 'admin_new_button' %>

