<h2>Kunde Neu</h2>
<%= form_for @kunde, :html => { :multipart => true }, :url => { :controller => 'admin/kunden'} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Zurück', admin_kunden_path %>
