<h2>Kontakt Bereiche:</h2>
<%= link_to 'KontaktBereich erstellen', new_admin_kontakt_bereich_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @kontakt_bereiche  %>
<br />
<%= link_to 'KontaktBereich erstellen', new_admin_kontakt_bereich_path, :class => 'admin_new_button' %>

