Top:

<li><%= link_to "Kontakt Bereiche", admin_kontakt_bereiche_path, :class => ("current" if @activio && (@activio == 'admin_kontakt_bereich'))  %></li>


Main:

<li><%= link_to 'Kontakt Bereiche', admin_kontakt_bereiche_path, :class => ("current" if @sub_activio && (@sub_activio == 'sub_admin_kontakt_bereich'))  %></li>

Sub:

<li><%= link_to 'Kontakt Bereiche', admin_kontakt_bereiche_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'sub_sub_admin_kontakt_bereich'))  %></li>