<h2>KundenMeinung bearbeiten</h2>
<%= form_for @kunden_meinung, :html => { :multipart => true }, :url => admin_kunden_meinung_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_kunden_meinung_path(@kunden_meinung.id) %> |
<%= link_to 'Zurück', admin_kunden_meinungen_path %>
