<h2>Kunden Meinungen:</h2>
<%= link_to 'KundenMeinung erstellen', new_admin_kunden_meinung_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @kunden_meinungen  %>
<br />
<%= link_to 'KundenMeinung erstellen', new_admin_kunden_meinung_path, :class => 'admin_new_button' %>

