Top:

<li><%= link_to "Kunden Meinungen", admin_kunden_meinungen_path, :class => ("current" if @activio && (@activio == 'admin_start'))  %></li>


Main:

<li><%= link_to 'Kunden Meinungen', admin_kunden_meinungen_path, :class => ("current" if @sub_activio && (@sub_activio == 'admin_kunden_meinung'))  %></li>

Sub:

<li><%= link_to 'Kunden Meinungen', admin_kunden_meinungen_path, :class => ("current" if @sub_sub_activio && (@sub_sub_activio == 'admin_kunden_meinung'))  %></li>