<h1>Newsletter abonnieren</h1>
<div class="trenner clear"></div>
<p><strong>Immer aktuell informiert!</strong> Hier haben Sie die Möglichkeit, sich für unseren Newsletter zu registrieren.<br/>
Unser Newsletter informiert Sie über neue Produkte und unsere aktuellen Angebote. Keine Angst! Unser Newsletter ist kostenlos und wird für gewöhnlich Quartalsweise versendet. </p>

<div class="trenner clear"></div>
<div id="news_abo_form">
<%= render 'abo_form' %>
</div>


<% content_for :left_aside do %>
	<%= render 'aside_left' %>
<% end %>