<h1>Newsletter abmelden</h1>
<div class="trenner clear"></div>
<div id="kabo_msg"></div>
<p>Hier haben Sie die Möglichkeit, Ihre E-Mail-Adresse aus unserem Verteiler zu löschen.</p>
<div class="trenner clear"></div>

<div id="news_del_abo_form">
<%= render 'abo_search_form' %>
</div>


<% content_for :left_aside do %>
	<%= render 'aside_left' %>
<% end %>