<h2>Aktionen:</h2>
<%= link_to 'Aktion erstellen', new_admin_aktion_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @aktionen  %>
<br />
<%= link_to 'Aktion erstellen', new_admin_aktion_path, :class => 'admin_new_button' %>

