<h2>Seite:</h2>
<%= link_to 'Seite erstellen', new_admin_seite_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @seiten  %>
<br />
<%= link_to 'Seite erstellen', new_admin_seite_path, :class => 'admin_new_button' %>

