<h2>News Eintraege:</h2>
<%= link_to 'NewsEintrag erstellen', new_admin_news_eintrag_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @news_eintraege  %>
<br />
<%= link_to 'NewsEintrag erstellen', new_admin_news_eintrag_path, :class => 'admin_new_button' %>

