<h2>Produkt Bereiche:</h2>
<%= link_to 'ProduktBereich erstellen', new_admin_produkt_bereich_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @produkt_bereiche  %>
<br />
<%= link_to 'ProduktBereich erstellen', new_admin_produkt_bereich_path, :class => 'admin_new_button' %>

