<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Kontakt erhalten.</h1>
    <p>Hallo <%= @kontakt.geschlecht+' '+@kontakt.name %>,</p><br/>
     
<p>wir haben Ihre Mail erhalten und werden schnellstmöglich antworten.</p>

    <p>Ihr <%= @std_domain %> - Team</p>
  </body>
</html>