<h2>User:</h2>
<%= link_to 'User erstellen', new_admin_user_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @users  %>
<br />
<%= link_to 'User erstellen', new_admin_user_path, :class => 'admin_new_button' %>

