<h2>Branchen:</h2>
<%= link_to 'Branche erstellen', new_admin_branche_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @branchen  %>
<br />
<%= link_to 'Branche erstellen', new_admin_branche_path, :class => 'admin_new_button' %>

