<h2>AGBs:</h2>
<%= link_to 'AGB erstellen', new_admin_agb_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @agbs  %>
<br />
<%= link_to 'AGB erstellen', new_admin_agb_path, :class => 'admin_new_button' %>

