<h2>Portfolio Bereiche:</h2>
<%= link_to 'PortfolioBereich erstellen', new_admin_portfolio_bereich_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @portfolio_bereiche  %>
<br />
<%= link_to 'PortfolioBereich erstellen', new_admin_portfolio_bereich_path, :class => 'admin_new_button' %>

