<h2>StartHeadSlider bearbeiten</h2>
<%= form_for @start_head_slider, :html => { :multipart => true }, :url => admin_start_head_slider_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_start_head_slider_path(@start_head_slider.id) %> |
<%= link_to 'Zurück', admin_start_head_sliders_path %>
