<h2>HeadTabSlider:</h2>
<%= link_to 'StartHeadSlider erstellen', new_admin_start_head_slider_path, :class => 'admin_new_button' %>
<br />
<%= render 'listing', :data => @start_head_sliders  %>
<br />
<%= link_to 'StartHeadSlider erstellen', new_admin_start_head_slider_path, :class => 'admin_new_button' %>

