<h2>KontaktKategorie bearbeiten</h2>
<%= form_for @kontakt_kategorie, :html => { :multipart => true }, :url => admin_kontakt_kategorie_path do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Anzeigen', admin_kontakt_kategorie_path(@kontakt_kategorie.id) %> |
<%= link_to 'Zurück', admin_kontakt_kategorien_path %>
